
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&family=Poppins:wght@300;400;600;700;800&display=swap');

.text-center{
    color: black;
    font-style: normal;
}

.form-group{
    color:ghostwhite;
    font-size:larger;
    font-style: oblique;
    font-weight: bolder;
    text-align:center;
}
